

<template>
  <v-data-table :headers="headers" :items="punchs" :sort-by="[{ key: 'id', order: 'asc' }]" locale="es" :footer-props="{
    'items-per-page-text': 'elementos por pagina'
  }" class="elevation-20 border-0">
    <template v-slot:top>
      <v-toolbar dark color="background">
        <v-toolbar-title>Punch's</v-toolbar-title>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ props }">
            <v-btn color="success" variant="tonal" dark class="mb-2" v-bind="props">
              Nuevo registro
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container fluid>
                <v-row>
                  <v-col cols="4" class="align-end">
                    <v-list-subheader>User Id</v-list-subheader>
                  </v-col>

                  <v-col cols="8">
                    <v-text-field v-model="editedItem.userId"></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4" class="align-end">
                    <v-list-subheader>User name</v-list-subheader>
                  </v-col>

                  <v-col cols="8">
                    <v-text-field v-model="editedItem.user_name" label="User name"></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4" class="align-end">
                    <v-list-subheader>Date</v-list-subheader>
                  </v-col>

                  <v-col cols="8">
                    <VueDatePicker v-model="editedItem.date" placeholder="Date" auto-apply partial-flow
                      :enable-time-picker="false" :clearable="false" :format="formatDatePick" hide-input-icon teleport-center
                      dark />
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4" class="align-end">
                    <v-list-subheader>Punch In</v-list-subheader>
                  </v-col>

                  <v-col cols="8">
                    <VueDatePicker v-model="editedItem.punch_in" placeholder="Punch In" time-picker :clearable="false"
                      hide-input-icon teleport-center dark />
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="4" class="align-end">
                    <v-list-subheader>Punch Out</v-list-subheader>
                  </v-col>

                  <v-col cols="8">
                    <VueDatePicker v-model="editedItem.punch_out" placeholder="Punch In" time-picker :clearable="false"
                      hide-input-icon teleport-center dark />
                  </v-col>
                </v-row>


              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue-darken-1" variant="text" @click="close">
                Cancelar
              </v-btn>
              <v-btn color="blue-darken-1" variant="text" @click="save">
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">

          <v-card>

            <v-card-title class="text-h6 text-center">¿Estás seguro que deseas eliminar el registro?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancelar</v-btn>
              <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">Confirmar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialogDropZone" max-width="500px">
          <template v-slot:activator="{ props }">
            <v-btn color="info" variant="tonal" dark class="mb-2 ml-2" v-bind="props">
              Cargar Template
            </v-btn>
          </template>
          <v-card class="py-8">
            <v-card-title class="text-h6 text-center">Cargar template de punch's</v-card-title>
            <FileUpload />
            <v-card-actions class="pt-8">
              <v-spacer></v-spacer>
              <v-btn color="warning" variant="tonal">Cancelar</v-btn>
              <v-btn color="success" variant="tonal" @click="uploadTemplate()">Cargar</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon size="small" class="me-2" @click="editItem(item.raw)">
        mdi-pencil
      </v-icon>
      <v-icon size="small" @click="deleteItem(item.raw)">
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">
        Reset
      </v-btn>
    </template>
  </v-data-table>

  <v-alert :type="alertType" v-model="alertState" title="" closable close-label="Cerrar">
    <span v-html="alertText"></span>
  </v-alert>
</template>


<script>
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import { usePunchStore } from '../stores/punch';
import FileUpload from "../components/FileUpload.vue";

const punchStore = usePunchStore()

export default {
  components: { VueDatePicker, FileUpload },
  data: () => ({
    dialog: false,
    dialogDelete: false,
    dialogDropZone: false,
    alertState: false,
    alertType: 'success',
    alertText: '',
    headers: [
      {
        title: "Id",
        align: "start",
        sortable: false,
        key: "id"
      },
      { title: "User Id", key: "userId" },
      { title: "User name", key: "user_name" },
      { title: "Date", key: "date" },
      { title: "Punch In", key: "punch_in" },
      { title: "Punch Out", key: "punch_out" },
      { title: "Acciones", key: "actions", sortable: false }
    ],
    punchs: [],
    editedIndex: -1,
    editedItem: {
      userId: 1,
      user_name: 'Nombre defecto',
      date: '2020-05-19',
      punch_in: '02:23',
      punch_out: '05:54'
    },
    defaultItem: {
      userId: 1,
      user_name: 'Nombre defecto',
      date: '2020-05-19',
      punch_in: '02:23',
      punch_out: '05:54'
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Punch" : "Editar Punch";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
    dialogDropZone(val) {
      val || this.closeDropZone();
    }
  },
  async created() {
    await punchStore.getAllPunch()
    this.initialize();
  },
  methods: {
    initialize() {
      this.punchs = punchStore.punchsData;
    },
    formatDatePick(date) {
      const day = date.getDate() + 1;
      const month = date.getMonth() + 1;
      const year = date.getFullYear();
      return `${year}/${month}/${day}`;
    },
    editItem(item) {
      this.editedIndex = item.id
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    deleteItem(item) {
      this.editedIndex = item.id
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    async deleteItemConfirm() {
      await punchStore.deletePunch(this.editedIndex)
      if (!punchStore.error) {
        await punchStore.getAllPunch()
        this.punchs = punchStore.punchsData;
        this.closeDelete();
        this.alertType = 'success';
        this.alertText = 'Registro eliminado exitosamente';
        this.alertState = true;
      } else {
        this.alertType = 'error';
        this.alertText = punchStore.errorMsg;
        this.alertState = true;
      }
    },
    async uploadTemplate() {
      if (punchStore.punchsTemplate.length === 0) {
        this.alertType = 'error';
        this.alertText = 'Debe seleccionar al menos un archivo';
        this.alertState = true;
      } else {
        await punchStore.uploadTemplates(punchStore.punchsTemplate);
        if (!punchStore.error) {
          await punchStore.getAllPunch()
          this.punchs = punchStore.punchsData;
          this.closeDropZone();
          this.alertType = 'success';
          this.alertText = 'Registro actualizado exitosamente';
          this.alertState = true;
        } else {
          this.alertType = 'error';
          this.alertText = punchStore.errorMsg;
          this.alertState = true;
        }
      }
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDropZone() {
      this.dialogDropZone = false;
      punchStore.punchsTemplate = [];
    },
    padTo2Digits(num) {
      return num.toString().padStart(2, '0');
    },
    formatDate(date) {
      return [
        date.getFullYear(),
        this.padTo2Digits(date.getMonth() + 1),
        this.padTo2Digits(date.getDate()),
      ].join('-');
    },
    async save() {
      let obj = { ...this.editedItem }
      console.log(obj)
      //formateamos manualmente
      if (typeof (this.editedItem.punch_in) === 'object') {
        obj.punch_in = `${this.editedItem.punch_in.hours}:${this.editedItem.punch_in.minutes}`;
      }
      if (typeof (this.editedItem.punch_out) === 'object') {
        obj.punch_out = `${this.editedItem.punch_out.hours}:${this.editedItem.punch_out.minutes}`;
      }
      if (typeof (this.editedItem.date) === 'object') {
        const date = this.editedItem.date;
        obj.date = this.formatDate(date);
      }
      await punchStore.savePunch(obj).then(async () => {
        if (!punchStore.error) {
          await punchStore.getAllPunch()
          this.punchs = punchStore.punchsData;
          this.close();
          this.alertType = 'success';
          this.alertText = 'Registro actualizado exitosamente';
          this.alertState = true;
        } else {
          this.alertType = 'error';
          this.alertText = punchStore.errorMsg;
          this.alertState = true;
        }
      })
    },
  }
}
</script>
