<script setup>
import { reactive } from 'vue';
import { useDropzone } from 'vue3-dropzone';
import { usePunchStore } from '../stores/punch';

const punchStore = usePunchStore()

const state = reactive({
  files: [],
  alertState: true,
  alertType: 'success',
  alertText: 'ocurrió un error',
});

const options = reactive({
  multiple: false,
  onDrop,
  accept: '.xlsx',
})

const { getRootProps, getInputProps, isDragActive } = useDropzone(options);

let msgError = '';

function onDrop(acceptFiles, rejectReasons) {
  msgError = rejectReasons.length > 0 ? 'El archivo es invalido' : '';
  if (acceptFiles.length > 0) {
    state.files = acceptFiles;
    punchStore.punchsTemplate = acceptFiles;
  } else {
    state.files = [];
    punchStore.punchsTemplate = [];
  }
}

function handleClickDeleteFile() {
  state.files = [];
  punchStore.punchsTemplate = [];
}
</script>

<template>
  <div>
    <div v-if="state.files.length > 0" class="files">
      <div class="file-item" v-for="(file, index) in state.files" :key="index">
        <span>{{ file.name }}</span>
        <span class="delete-file" @click="handleClickDeleteFile(index)">Delete</span>
      </div>
    </div>
    <div v-else class="dropzone" v-bind="getRootProps()">
      <div class="border" :class="{
        isDragActive,
      }">
        <input v-bind="getInputProps()" />
        <p v-if="isDragActive">Suelta los archivos aquí ...</p>
        <p v-else>Arrastra y suelta tus archivos aquí, o Presiona para seleccionar archivos. Solos se admiten archivos con
          extensión .XLSX</p>
      </div>
      <div id="isDragReject">
        {{ msgError }}
      </div>

    </div>
  </div>
</template>