<template>
  <v-container>
    <v-row class="text-center">
      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          Prueba para Keyence
        </h1>
        <h4>Kevin Vázquez</h4>
      </v-col>
    </v-row>
  </v-container>
</template>